:root{

    --cor-primaria: #FF9800;
    --cor-secundaria: #F57C00

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

table.table {
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 82%);
}
table.table>thead>tr th {
    background-color: #eee;
}
button.btn{
    min-width: 90px;
}

/*Override*/

/*div.modal-dialog{

max-width: 700px;

}*/